* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

section{
    max-width: 80;
    text-align: center;
    padding-top: 25%;
}

h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
    size: 1.2em;
}