/************************************/
/* Sección contacto - Jose Antonio  */
/************************************/

/*estilos para el contenedor main que engloba
todos los elementos que están dentro del mismo*/
.contenedor{
    background-image: url(../images/fondo-qs-3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

/* El section con la clase .contacto-grid se posiciona mediante
grid para establecer la posición de cada elemento*/
.contacto-grid {
    clear: both;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgba(255,255,255,0.4);
}

/******************************/
/* ESTILOS PARA EL FORMULARIO */
/******************************/
/*Estilos para el apartado formulario
Se le estable la posición y el formato del formulario*/
form.simple-form {
    grid-column: 1 / 2;
    width: 100%;
    margin: 2%;
    background: rgba(26,46,70,0.3);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
}
/* Estilo para el encabezado del formulario */
h2.simple-form{
    text-align: center;
    padding: 20px;
}
/* Estilo para los input y el textarea del formulario */
input.sp-form, textarea.sp-form {
    width: 100%;
    min-width: 480px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 1.2rem;
    border: 1px solid rgba(26, 52, 81, 0.2);
    box-shadow: 0px 0px 25px rgb(71, 71, 71);
    border-radius: 7px;
}
/* Se fija el outline usando los colores que se manejan en 
el documento */
input.sp-form:focus {
    outline-color:#E77218;
}

textarea.sp-form:focus {
    outline-color:#E77218;
}

textarea.sp-form {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    resize: unset;
}

.sp-form::placeholder{
    color: #E77218;
}

.error {
    background-color: rgba(255,153,153,0.7);

}

input.button {
    width: 49.5%;
    background-color: #1A3451;
    padding: 20px;
    color: #E77218;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 7px;
}

input.button, button.boton:hover {
    cursor: pointer;
}

input.button:disabled{
    background-color: #777880;
}

/******************************/
/* ESTILOS PARA DIRECCION *****/
/******************************/
section.dir-grid{
    width: 100%;
    min-width: 480px;
    margin-right: auto;
    grid-column: 2 / 3;
}

section.dir-grid ul{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section.dir-grid li {
    list-style: none;
}

section.dir-imagen {
    width: 80%;
    padding: 20px;
    margin-top: 12vh;
    margin-left: 6vw;
}

section.direc {
    width: 100%;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
}

section.direc li > a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.formCursos {
    text-align: center;
    margin-top: 3%;
    
}

button.boton {
    margin-top: 3%;
    padding: 4%;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: #E77218;
    background-color: #1a3451;
    border-radius: 10px;
    border: 3px solid;
    border-color: #E77218;
}

button.boton:hover {
    color: #1a3451;
    background-color: #E77218;
    border-color: #1a3451;
}

/******************************/
/* ESTILOS PARA EL MAPA *******/
/******************************/
/*Estilos para el apartado mapa
Se establece que ocupará en la fila 2, desde la columna 1
toda el grid*/
.mapa-contenedor{
    grid-area: 2 / 1 / 3 / 3;
    width: 99%;
    height: 350px;
    margin: 0 auto;
}

.mapa{
    width: 98%;
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    max-height: 100%;
    min-height: 50%;
    border-radius: 30px;
    border-color: inherit;
    padding: 6px;
}

/******************************/
/* MEDIA QUERYS ***************/
/******************************/
/* Pantalla de hasta 480px (37,5em) */
@media screen and (max-width: 37.5em){

    .contenedor {
        background-image: none;
        background-color: inherit;
    }

    .contacto-grid {
        clear: both;
        display: block;
        width: 96%;
    }
    form{
        width: 100%;
    }

    input.button{
        width: 48%;
        font-size: 0.7rem;
    }

    input.sp-form, textarea.sp-form {
        font-size: 0.7rem;
    }

    .dir-grid {
        width: 100%;
        margin-left: 2%;
        margin-top: -10%;
    }

    .dir-imagen {
        clear: both;
        margin-top: -1%;
        margin-bottom: -3%;
        margin-left: 10%;
        padding: -2%;
    }

    .direc {
        font-size: 1.5rem;   
    }

    .boton {
        padding: 5%;
        font-size: 1.9rem
    }

    .mapa-contenedor {
        clear: both;
        width: 100%;
        margin-left: 2%;
        margin-bottom: 4%;
    }

    .mapa {
        clear: both;
        width: 100%;
        margin-top: 2%;
    }
}

/* @media screen and (min-width: 31em) and (max-width: 56.25em), (orientation:landscape) {


}; */
    

