/**************************** 
      Estilos Formulario
****************************/

#formularioCursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 52, 81);
    margin: 5rem;
    border-radius: 1rem;
    color: #FAFAFA;
    box-shadow: 0px 0px 30px rgb(71, 71, 71);
}

#formularioCursos h3 {
    color: #E77218;
    margin-bottom: 1rem;
    text-align: center;
}

#formularioCursos section {
    margin: 2rem 1rem;
}

#formularioCursos #datos-contacto input, select {
    width: 65%;
    height: 70%;
    margin-top: .3rem;
    padding: .35rem;
    border-radius: .8rem;
}

#formularioCursos #datos-contacto input:focus, select:focus {
    width: 80%;
}

#datos-contacto article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#datos-contacto input:focus {
    outline: none;
    box-shadow: 0px 0px 30px rgb(49, 49, 49);
}

#datos-contacto input:focus:invalid {
    border-bottom: 3px solid rgb(218, 78, 78);
}

#datos-contacto input:focus:valid {
    border-bottom: 3px solid rgb(78, 218, 113);
}

.error {
    background-color: rgba(255,153,153,0.7);
}

#datos-contacto .div-contenedor {
    margin: .5rem;
    text-align: center;
    width: 25%;
    border-radius: .8rem;
}

#datos-contacto select {
    padding: .35rem;
    cursor: pointer;
}

#formacion-previa article,
#cursos-interesado article,
#modalidad article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    
}

#formacion-previa label {
    margin-left: -60%;
}


#cursos-interesado div,
#modalidad div {
    margin: .5rem .8rem;
}

article.formacion-grid div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content:space-between;
    width: 30%;    
}

#proteccion-datos a {
    text-decoration: none;
    color: #E77218;
}

#submit-reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#submit-reset input {
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.05rem;
}

#submit-reset input:hover {
    cursor: pointer;
    background-color: #E77218;
    color: #FAFAFA;
}

#formacion-previa input{
    margin: 5px;
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-around ;
	align-items: center ;
	align-content: center ;
	text-align: center;
}
#formularioCursos #cursos-section input{
    visibility: hidden;
}

/*#cursos-section article {
	overflow-y: scroll;
	max-height: 350px;
	width: 90%;
	margin: auto auto 20px;
	position: relative;
}*/
/*
#cursos-section .divCurso{
    border-style: dashed;
    max-height: 15rem;
    max-width: 25rem;
}*/
#cursos-section .imgCurso, .imgCursoChecked{
    float:center;
    max-width: 80%;
    max-height: 70%;
    border-radius: 1rem;
    animation-name: animacionCursos;
    animation-duration: 3s;
    
  }

  #cursos-section .divCurso{
    border: 2px;  
    border-style: dashed;
    border-radius: 1px;
    height: 15rem;
  }
  /*
#cursos-section .imgChecked{
    
    width: 3rem;
    padding: 0.3rem;
	border-color: white;
    border-radius: 1rem;
    border-style: solid;
    float: center;
    z-index: 2;
    /*z-index:2;
}
*/
#cursos-section section {
    overflow-y: scroll;
    max-height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: dotted;
}
#cursos-section .noSeleccionado, .seleccionado {
    margin: .5rem;
    text-align: center;
    width: 25%;
    border-radius: .8rem;
}

/* Scrollbar && hr */
hr {
	height: 150px;
	width: 2px;
	background-color: black;
	border: none;
}
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 168, 179); 
  }

/* Sección LOPD */

.lpd {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1%;
}

/*********************************/
/* MEDIA QUERYS FORMULARIO CURSOS*/
/*********************************/

@media screen and (max-width: 600px) {
    /* adaptamos el conendor a la pantalla*/
    .container {
        width: 100vw;
        height: 100vh;
    }

    /* Fijamos el main al contenedor */
    main#mainCursos {
        width: 100%;
        background-color: inherit;
    }
    /* Adaptamos la cabecera para que se adapte
    a las nuevas dimensiones así como el h1*/
    section.texto-presentacion {
        width: 100vw !important;
        margin-bottom: -10%;
    }
    section.texto-presentacion h1 {
        font-size: 3rem;
    }

    /* adaptamos el formulario a las nuevas dimensiones*/

    #datos-contacto article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .div-contenedor {
        width: 98% !important;
        
    }

    .div-contenedor div input {
        width: 98% !important;
    }

    #formacion-previa {
        margin-top: -0.12% !important;
        margin-bottom: -0.12% !important;
    }

    #formacion-previa article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 98%;
    }

    .posicion {
        width: 50% !important;
        margin-left: 15%;
        margin-right: -18%;
    }

}
