* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    overflow-x: hidden;
}
/* Contenedor de la página */
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 15vh min-content min-content;
}

header {
    background-image: url("../images/web2.jpg");
    background-color: #1a3451;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
}

.logo-header{
    height: 30%;
    margin: 1rem;
    align-items: center;
}

/* NAV - MENÚ */
.nav {
    background-color: #1A3451;
    
}
/* Links del menú */
.nav a {
    float: left;
    display: block;
    text-decoration: none;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 1.2rem;
    padding: .5rem 2rem;
}
/* Desplegable del menú */
.desplegable {
    float: left;
    overflow: hidden;
    color: #FAFAFA;
    background-color: #1A3451;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    padding: .5rem 2rem;
}
/* Símbolo desplegable */
.fa-caret-down {
    margin-left: .5rem;
}
/* Contenido del desplegable */
.desp-contenido {
    display: none;
    position: absolute;
    background-color: #1A3451;
    margin-top: .5rem;
}
/* Links del desplegable */
.desp-contenido a {
    text-decoration: none;
    float: none;
    display: block;
    text-align: left;
}
/* Hover */
.nav a:hover, .desplegable:hover {
    background-color: #E77218;
}
/* Mostrar desplegable */
.desplegable:hover .desp-contenido {
    display: block;
}
/* Para la página activa */
.activa {
    background-color: #E77218;
    color: #FAFAFA;
}
/* Escondemos el icono que desplegará el nav en dispositivos pequeños */
.nav button {
   display: none;
}
/* Media queries específicas para el menú en dispositivos pequeños */
@media screen and (max-width: 600px) {
    .nav a, .desplegable {
        display: none;
    }
    .nav button {
        display: block;
        font-size: 2rem;
        padding: .2rem;
        background-color: #1A3451;
        color: #FAFAFA;
        border: none;
        cursor: pointer;
        margin-left: .5rem;
    }
    /* Clase .responsivo habilitada mediante JavaScript */
    .nav.responsivo {
        position: relative;
    }
    .nav.responsivo button {
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav.responsivo a {
        display: block;
        float: none;
        text-align: left;
        margin-left: 3rem;
    }
    .nav.responsivo .desplegable {
        float: none;
    }
    .nav.responsivo .desp-contenido {
        position: relative;
    }
    .nav.responsivo .desplegable {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 3rem;
    }
    .nav.responsivo .desplegable:hover {
        background-color: #1A3451;
    }
}


/* Scrollbar */
/* Tenemos una barra de scroll modificada para toda la web */

::-webkit-scrollbar {
    width: 1.2rem;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.8rem;
  }

::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99); 
    border-radius: 0.8rem;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 168, 179); 
  }

 
/* Sección principal */
.main-section h1, 
.quienes-somos h1,
.texto-presentacion h1 {
    color: #1A3451;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: .3rem;
    animation: izquierda-derecha 1s ease-out;
}
/* Animación para el h1 */
@keyframes izquierda-derecha {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.main-section h2,
.quienes-somos h2,
.texto-presentacion h2 {
    color: #E77218;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    animation: derecha-izquierda 1s ease-out;
    text-transform: uppercase;
    margin-top: .5rem;
    margin-bottom: 2rem;
}
/* Animación para el h2 */
@keyframes derecha-izquierda {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* FOOTER */
footer {
    grid-row: 4 / 5;
    background-color: #1A3451;
    color: #FAFAFA;
}

.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.icono-redes {
    width: 2rem;
    height: 1.5rem;
    margin: 1rem;
}

.icono-redes:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s ease-in-out;
}

.footer-section-2 {
    margin-top: 1rem;
}

.footer-section-2 ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-section-2 a {
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.footer-section-2 a:hover {
    color: #E77218;
}

.footer-section-3 {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin: 3rem;
}

/* MEDIA QUERIES */
/* Dispositivos 1300px o más */
@media only screen and (min-width: 1300px) {      
    .main-section h1, .quienes-somos h1, .texto-presentacion h1 {
        font-size: 4.2rem;
    }
}
/* Ancho entre 900px y 1300px */
@media only screen and (min-width: 900px) and (max-width: 1300px) {
    .main-section h1, .quienes-somos h1, .texto-presentacion h1 {
        font-size: 4rem;
    }
}
/* Ancho máximo de 900px  */
@media only screen and (max-width: 900px) {
    .main-section h1, .quienes-somos h1, .texto-presentacion h1 {
        font-size: 3.5rem;
    }
}
/* Ancho máximo de 700px  */
@media only screen and (max-width: 700px) {
    .footer-section-2 a {
        font-size: .8rem;
    }
    .nav a, .desplegable {
        font-size: 1rem;
    }
}
/* Ancho máximo de 600px  */
@media only screen and (max-width: 600px) {
    .main-section h1, .quienes-somos h1, .texto-presentacion h1 {
        font-size: 3rem;
    }
    .footer-section-2 a {
        font-size: .7rem;
        padding: 0 .7rem;
    }
}
/* Ancho máximo de 500px  */
@media only screen and (max-width: 500px) {
    .main-section h1, .quienes-somos h1, .texto-presentacion h1 {
        font-size: 2.5rem;
    }
    .footer-section-2 ul {
        flex-direction: column;
        align-items: center;
    }
    .footer-section-3 {
        font-size: .7rem;
    }
}
/* iPhone X y smartphones similares (horizontal y vertical) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) 
       and (-webkit-min-device-pixel-ratio: 3) {     

}
/* iPhone 6+/7+/8+ y smartphones similares (horizontal y vertical) */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px)
       and (-webkit-min-device-pixel-ratio: 3) {

}
/* iPhone 6/7/8 y smartphones similares (horizontal y vertical) */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) 
       and (-webkit-min-device-pixel-ratio: 2)  { 

}
/* iPhone 5 y dispositivos más pequeños (horizontal y vertical) */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
       and (-webkit-min-device-pixel-ratio: 2) {

}
/* iPad (horizontal y vertical) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
       and (-webkit-min-device-pixel-ratio: 2) { 

}

/****************************************************************/
/****************************************************************/
/****************************************************************/

/****************************/
/* Sección Servicios - Raúl*/
/****************************/
.main-servicios{
    background-color: #d5d3d3;
}

.texto-presentacion h1{
    color: #1A3451;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: .3rem;
}
.texto-presentacion h2{
    color: #E77218;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: .5rem;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
    width: 100vw;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 20rem;
    margin: 3rem 6rem 1rem 6rem;
    background-color: #1A3451; 
    border-radius: 1.5rem;
    text-align: justify;
    justify-content: center;
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
}
.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
    transition: .3s ease-in-out;
}
.tarjetas h4{
    color: #E77218;
    text-align: center;
    margin: 1.5rem;
}
.tarjeta p{
    color: #FAFAFA;
    font-size: 0.9rem;
    margin: 1.5rem;
}
.tarjeta img{
    height: 40%;
    border-bottom: 2px solid #E77218;
    border-top: 2px solid #E77218;
}
.tarjeta a{
    color: #E77218;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid #E77218;
    padding: 0.5rem;
}
.tarjeta a:hover{
    color: #FAFAFA;
}
.texto-cierre{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
.texto-cierre p{
    font-size: 2rem;
    color: #1A3451;
    letter-spacing: .2rem;
}
.texto-cierre h4{ /* migue */
    font-size: 1.5rem;
    font-weight: 450;
    color: #1A3451;
    letter-spacing: .2rem;
}
.texto-cierre a{
    text-decoration: none;
    color:#E77218;
    background-color: #1A3451;
    border-style: solid;
    border-color:  #1A3451;
    border-radius: 0.5rem;
    padding: .3rem;
    margin-left: 0.5rem;
}
.texto-cierre a:hover{
    color:  #1A3451;
    background-color: #E77218;
}

/*********************/
/* Sección INICIO - Migue */
/*********************/

.main-index {
    display: grid;
    grid-template-columns: 4fr 1.6fr;
    grid-row: 3 / 4;
    background-color: #d5d3d3;
}

.main-index:first-child {
    height: 20rem;
}

.main-section img{
    display: block;
    margin:auto;
    width: 80%;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}

.main-section article p {
    color: #1A3451;
    margin:auto;
    width: 78%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* line-height: 3rem; */
}

.prueba {
    color:#1A3451;
    margin-bottom: 2rem;
}

.prueba img {
    float: left;
    margin: 0rem 2rem 2rem 0rem;
    width: 50%;
    border-radius: 1.5rem;
}

.main-section article .prueba p{
    color: #1A3451;
    margin:auto;
    width: 78%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;

}

/* Sección aside */
aside {
    grid-column: 2 / 3; /* posicionamiento respecto al grid principal*/
    background-color: #bbbaba;
    border-left: 2px solid #E77218;;
}
.cabecera-noticias{
    margin:auto;
}
.cabecera-noticias p{
    color:#1a3451;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

.noticias article {
    display: flex;
    padding: .5rem;
    margin: 2rem;
}

.noticias img {
    width: 7rem;
    border-radius: .5rem;
}

.texto-noticia {
    margin: 0 1rem;
}

.texto-noticia h3 {
    color: #1A3451;
    font-weight: 500;
}

.texto-noticia p {
    color: #1A3451;
    font-size: 0.9rem;
    font-weight: normal;
}




