* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 15vh 5vh min-content 15vh;
}

header {
    background-image: url("../images/web2.jpg");
    background-color: #1A3451;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
}

.navbar {
    grid-row: 2 / 3;
    background-color: #1A3451;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

nav ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: #E77218;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 2rem;
}

nav a:hover {
    color: #FAFAFA;
}

/* Sección principal */

.index-main {
    display: grid;
    grid-template-columns: 4fr 1.2fr;
    grid-row: 3 / 4;
    background-color: #edecec;
}

.main-section {
    
}

.main-section:first-child {
    height: 20rem;

}

.main-section h1, 
.quienes-somos h1 {
    color: #1A3451;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: .3rem;
    animation: izquierda-derecha 1s ease-out;
}
/* servicios */

.main-servicios{
    display: grid;
    grid-template-columns: 1fr, 4fr, 1fr;
    row-gap: 2rem;
    background-color:  #edecec;
}
.texto-presentacion h1{
    color: #1A3451;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: .3rem;
}
.texto-presentacion h2{
    color: #d78444;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;   
    margin-top: .5rem;
}
.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}   
.tarjeta{
    box-shadow: 0px 2px 2px #acabab;
    border-radius: 8px;
}
.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #acabab;
    transition: .3s ease-in-out;
}

.tarjeta img {
    width: 100%;
 }
 .tarjeta h4{
    text-decoration: none;
    color: #1A3451;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
 }
.tarjeta p{
    color: #1A3451;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: justify;
}
.tarjeta a{
    text-decoration: none;
    color: #E77218;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    text-align: justify;
    justify-content:center;
    padding: 1rem;
}
.texto-cierre{
    display: flex;
    justify-content: center;
    color: #1A3451;
    font-weight: 400;
    font-size: 2rem;
    padding: 1.5rem;
}
.boton-formulario{
    text-decoration: none;
    border-style: solid;
    border-color: #1A3451;
    background-color:  #1A3451;
    border-radius: 5px;
    color: #E77218;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 1rem;
    
}
.boton-formulario:hover{
    background-color:   #D9D9D9;
    border-style: solid;
    border-color: #E77218;
    color: #1A3451;
}
/*servicios*/
/* Animación para el h1 */
@keyframes izquierda-derecha {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.main-section h2,
.quienes-somos h2 {
    color: #E77218;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    animation: derecha-izquierda 1s ease-out;
    text-transform: uppercase;
    margin-top: .5rem;
}

/* Animación para el h2 */
@keyframes derecha-izquierda {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Sección aside */

aside {
    grid-column: 2 / 3; /* posicionamiento respecto al grid principal*/
    background-color: #D9D9D9;
}

/* MIGUE */
aside.noticias {
    display: grid;
    grid-template-rows: repeat (3, 2fr);
}

.noticias article {
    display: flex;
    padding: .5rem;
}

.noticias img {
    width: 7rem;
    /* height: 7rem; */
}

.texto-noticia {
    margin: 0 1rem;
    font-weight: lighter;
}

.texto-noticia h4 {
    font-weight: 900;
}

/* Sección footer */

footer {
    grid-row: 4 / 6;
    background-color: #1A3451;
    color: #FAFAFA;
}

.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.icono-redes {
    width: 2rem;
    height: 1.5rem;
    margin: 1rem;
}

.icono-redes:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s ease-in-out;
}

.footer-section-2 {
    margin-top: 1rem;
}

.footer-section-2 ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-section-2 a {
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.footer-section-2 a:hover {
    color: #E77218;
}

.footer-section-3 {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin: 3rem;
}
/*********************/
/* Sección contacto  */
/*********************/

.contacto{
    display: grid;
    grid-column: 6;
    grid-row: 6;
}



/*********************/
/* Sección Quiénes Somos - Álvaro */
/*********************/

.seccion-tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
    padding-bottom: 5rem;
    width: 100vw;
}

.contenedor-tarjeta {
    position: relative;
    height: 25rem;
    width: 18rem;
    perspective: 100rem;
    margin: 3rem;
}

.contenedor-tarjeta:hover .tarjeta-qs {
    transform: rotateY(-180deg);
}

.tarjeta-qs {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 2rem;
    border-radius: 1.5rem;
    transition: all .5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
}

.tarjeta-delante-qs {
    background-color: #1A3451;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tarjeta-detras-qs {
    background-color: #1A3451;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tarjeta-delante-qs img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.tarjeta-delante-qs h3 {
    color: #E77218;
    font-weight: 400;
    font-size: 1.5rem;
    border-top: 2px solid #E77218;
    border-bottom: 2px solid #E77218;
    padding: .2rem;
   
}

.tarjeta-delante-qs p {
    color: #FAFAFA;
    margin-top: 1.5rem;
}

.tarjeta-detras-qs h3 {
    color: #FAFAFA;
    font-weight: 200;
    margin-bottom: 2rem;
}

/*******************************************/