* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 15vh 5vh min-content;
}

header {
    background-image: url("../images/web2.jpg");
    background-color: #1a3451;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
}

.logo-header{
    height: 30%;
    margin: 1rem;
    align-items: center;
}

.navbar {
    grid-row: 2 / 3;
    background-color: #1A3451;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

nav ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: #E77218;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 2rem;
}

nav a:hover {
    color: #FAFAFA;
}

/* Sección principal */

.main-section h1, 
.quienes-somos h1,
.texto-presentacion h1 {
    color: #1A3451;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: .3rem;
    animation: izquierda-derecha 1s ease-out;
}

/* Animación para el h1 */
@keyframes izquierda-derecha {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.main-section h2,
.quienes-somos h2,
.texto-presentacion h2 {
    color: #E77218;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    animation: derecha-izquierda 1s ease-out;
    text-transform: uppercase;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

/* Animación para el h2 */
@keyframes derecha-izquierda {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/****************************/
/* Sección Servicios - Raúl*/
/****************************/
.main-servicios{
    background-color: #d5d3d3;
}

.texto-presentacion h1{
    color: #1A3451;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: .3rem;
}
.texto-presentacion h2{
    color: #E77218;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: .5rem;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
    width: 100vw;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 20rem;
    margin: 3rem 6rem 1rem 6rem;
    background-color: #1A3451; 
    border-radius: 1.5rem;
    text-align: justify;
    justify-content: center;
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
}
.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
    transition: .3s ease-in-out;
}
.tarjetas h4{
    color: #E77218;
    text-align: center;
    margin: 1.5rem;
}
.tarjeta p{
    color: #FAFAFA;
    font-size: 0.9rem;
    margin: 1.5rem;
}
.tarjeta img{
    height: 40%;
    border-bottom: 2px solid #E77218;
    border-top: 2px solid #E77218;
}
.tarjeta a{
    color: #E77218;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid #E77218;
    padding: 0.5rem;
}
.tarjeta a:hover{
    color: #FAFAFA;
}
.texto-cierre{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
.texto-cierre p{
    font-size: 2rem;
    color: #1A3451;
    letter-spacing: .2rem;
}
.texto-cierre a{
    text-decoration: none;
    color:#E77218;
    background-color: #1A3451;
    border-style: solid;
    border-color:  #1A3451;
    border-radius: 1rem;
    padding: .3rem;
    margin-left: 0.5rem;
}
.texto-cierre a:hover{
    color:  #1A3451;
    background-color: #E77218;
}

/*********************/
/* Sección INICIO - Migue */
/*********************/

.main-index {
    display: grid;
    grid-template-columns: 4fr 1.6fr;
    grid-row: 3 / 4;
    background-color: #d5d3d3;
}

.main-index:first-child {
    height: 20rem;
}

.main-section img{
    display: block;
    margin:auto;
    width: 80%;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}

.main-section article p {
    color: #1A3451;
    margin:auto;
    width: 78%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;
    /* line-height: 3rem; */
}

br {
    margin-bottom: 1.2rem;
}

.prueba {
    margin-bottom: 2rem;
}

.prueba img {
    float: left;
    margin: 0rem 2rem 2rem 0rem;
    width: 50%;
    border-radius: 1.5rem;
}

.main-section article .prueba p{
    color: #1A3451;
    margin:auto;
    width: 78%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;

}

/* Sección aside */
aside {
    grid-column: 2 / 3; /* posicionamiento respecto al grid principal*/
    background-color: #bbbaba;
    border-left: 2px solid #E77218;;
}

.noticias article {
    display: flex;
    padding: .5rem;
    margin: 2rem;
}

.noticias img {
    width: 7rem;
    border-radius: .5rem;
}

.texto-noticia {
    margin: 0 1rem;
}

.texto-noticia h3 {
    color: #1A3451;
    font-weight: 500;
}

.texto-noticia p {
    color: #1A3451;
    font-size: 0.9rem;
    font-weight: normal;
}

/*********************/
/* Sección footer */
/*********************/

footer {
    grid-row: 4 / 5;
    background-color: #1A3451;
    color: #FAFAFA;
}

.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.icono-redes {
    width: 2rem;
    height: 1.5rem;
    margin: 1rem;
}

.icono-redes:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s ease-in-out;
}

.footer-section-2 {
    margin-top: 1rem;
}

.footer-section-2 ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-section-2 a {
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.footer-section-2 a:hover {
    color: #E77218;
}

.footer-section-3 {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin: 3rem;
}
/*********************/
/* Sección contacto - Jose Antonio  */
/*********************/
/*estilos para el contenedor main que engloba
todos los elementos que están dentro del mismo*/
.contenedor{
    background-image: url(../images/fondo-qs-3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    
}
.contacto-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: rgba(255,255,255,0.4);
}

/*Estilos para el apartado mapa*/
.mapa{
    grid-area: 2 / 1 / 3 / 3;
    width: 98.7%;
    max-width: 100%;
    min-width: 50%;
    height: 99%;
    max-height: 100%;
    min-height: 50%;
    border-radius: 30px;
    border-color: inherit;
    padding: 6px;
}

/*Estilos para el apartado formulario*/
form.simple-form {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: rgba(26, 52, 81, 0.2);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    margin-right: 2%;
}

h2.simple-form{
    text-align: center;
    padding: 20px;
}

input.sp-form, textarea.sp-form {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 1.2rem;
    border: 1px solid rgba(26, 52, 81, 0.2);
    border-radius: 7px;
}

input.sp-form:focus {
    outline-color:#E77218;
}

textarea.sp-form:focus {
    outline-color:#E77218;
}

textarea.sp-form {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    resize: unset;
}

.sp-form::placeholder{
    color: #E77218;
}

.error {
    background-color: rgba(255,153,153,0.7);

}

input.button {
    width: 49.5%;
    background-color: #1A3451;
    padding: 20px;
    /*color: #FAFAFA;*/
    color: #E77218;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 7px;
}

input.button:hover {
    cursor: pointer;
}

input.button:disabled{
    background-color: #777880;
}

@media (max-width: 30em){
    form{
        width: 100%;
    }

    input.button{
        width: 48%;
        font-size: 0.7rem;
    }

    input.sp-form, textarea.sp-form {
        font-size: 0.7rem;
    }
}

/*Estilos para el apartado dirección*/
section.dir-grid{
    width: 100%;
    margin-right: auto;
}

section.dir-grid ul{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section.dir-grid li {
    list-style: none;
}

section.dir-imagen {
    width: 80%;
    padding: 20px;
    margin-top: 12vh;
    margin-left: 6vw;
}

section.direc {
    width: 100%;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
}

section.direc li > a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.formCursos {
    text-align: center;
    margin-top: 3%;
    
}

button.boton {
    margin-top: 3%;
    padding: 4%;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: #E77218;
    background-color: #1a3451;
    border-radius: 10px;
    border: 3px solid;
    border-color: #E77218;
    

}

button.boton:hover {
    color: #1a3451;
    background-color: #E77218;
    border-color: #1a3451;
}

/*********************/
/* Sección Quiénes Somos - Álvaro */
/*********************/

/* Estilos para la imagen de fondo.
   Fija, centrada, cubriendo la totalidad y sin repetirse */
   .main-quienes-somos {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/fondo-qs.jpeg");
    background-color: #777880;
    background-blend-mode: screen;
}
/* Para la sección principal, combino la imagen de fondo con un color gris
   para darle un efecto donde el fondo queda en segundo plano y poco visible */
.quienes-somos {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Contenedor carrusel */
.carrusel {
    position: relative;
    width: 50%;
    height: auto;
    background-color: #1a3451;
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
    margin-top: 1rem;
    border-radius: 1rem;
    animation: mostrar-carrusel .7s ease-in-out;
    -webkit-animation: mostrar-carrusel .7s ease-in-out;
    -moz-animation: mostrar-carrusel .7s ease-in-out;
    -ms-animation: mostrar-carrusel .7s ease-in-out;
}
/* Animación de entrada carrusel */
@keyframes mostrar-carrusel {
    0% { 
        opacity: 0; 
        transform: scale3d(0.3, 0.3, 0.3);  
    }
    100% { 
        opacity: 1; 
        transform: scale3d(1,1,1);
        }
    }
@-webkit-keyframes mostrar-carrusel {
    0% { 
        opacity: 0; 
        -webkit-transform: scale3d(0.3, 0.3, 0.3); 
        transform: scale3d(0.3, 0.3, 0.3); 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: scale3d(1,1,1); 
        transform: scale3d(1,1,1); 
    }
}
/* Imágenes del carrusel ocultas, las muestro con JavaScript */
.slides {
    display: none;
    position: relative;
    animation: animacion-slide 1.5s;
}
/* Animación slides carrusel */
@keyframes animacion-slide {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes animacion-slide {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}
/* Imágenes carrusel */
.slides img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/* Botones carrusel
.atras, .siguiente {
    position: absolute;
    width: auto;
    color: #FAFAFA;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}
.atras:hover, .siguiente:hover {
    color: #E77218;
    background-color: rgba(0,0,0,0.7);
}
.atras {
    top: 40%;
    padding-left: 1rem;
}
.siguiente {
    top: 40%;
    right: 0;
    padding-right: 1rem;
}
*/
.texto-carrusel {
    position: absolute;
    bottom: 0;
    color: #FAFAFA;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    background-color: #1A3451;
    padding: 1.2rem;
    -webkit-animation: expandir-texto 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: expandir-texto 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* Animación para el texto del carrusel */
@keyframes expandir-texto {
    0% {
        letter-spacing: -0.5em;
    }
}
@-webkit-keyframes expandir-texto {
    0% {
        letter-spacing: -0.5em;
    }
}
.contenedor-puntos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .2rem;
}
.punto-carrusel {
    display: inline-block;
    height: .5rem;
    width: .5rem;
    background-color: #FAFAFA;
    border-radius: 50%;
    cursor: pointer;
    margin: .3rem;
}
.punto-carrusel:hover {
    background-color: #E77218;
}
.punto-activo {
    background-color: #E77218;
}
/* h3 para las dos primeras secciones */
.quienes-somos h3 {
    font-size: 1.5rem;
    color: #E77218;
    margin-bottom: .3rem;
    font-weight: 400;
}
/* Aplico estilos similares a la sección principal */
.seccion-tarjetas {
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
/* Contenedor para las tarjetas con posición relativa.
   Incluyo prefijo -webkit para evitar desajustes en algunos navegadores */
.contenedor-tarjeta {
    position: relative;
    height: 25rem;
    width: 18rem;
    perspective: 100rem;
    -webkit-perspective: 100rem;
    margin: 4rem;
}
/* Efecto de rotación para las tarjetas sobre el eje "Y"
   cuando el usuario haga un hover sobre ellas */
.contenedor-tarjeta:hover .tarjeta-qs {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}
/* Aplico la transición con su duración y estilo para las tarjetas */
.tarjeta-qs {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 2rem;
    border-radius: 1.5rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: .5rem .5rem .5rem .2rem rgba(11, 10, 44, 0.4);
}
/* Parte delantera de las tarjetas con posición absoluta, ocupando el 100% de su contenedor. */
.tarjeta-delante-qs {
    background-color: #1A3451;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* Parte trasera de las tarjetas con posición absoluta, ocupando el 100% de su contenedor.
   Cuando el usuario termine el "hover", el eje "Y" volverá a rotar 180 grados. */
.tarjeta-detras-qs {
    background-color: #1A3451;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Imágenes de la parte delantera de las tarjetas */
.tarjeta-delante-qs img {
    width: inherit;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
/* h3 parte delantera de las tarjetas */
.tarjeta-delante-qs h3 {
    color: #E77218;
    font-weight: 400;
    font-size: 1.5rem;
    border-top: 2px solid #E77218;
    border-bottom: 2px solid #E77218;
    padding: .2rem;
    letter-spacing: .08rem;
}
/* párrafos parte delantera de las tarjetas */
.tarjeta-delante-qs p {
    color: #FAFAFA;
    margin-top: 1.5rem;
}
/* h3 parte trasera de las tarjetas */
.tarjeta-detras-qs h3 {
    color: #FAFAFA;
    font-weight: 200;
    margin-bottom: 2rem;
}
/* Media Queries sección quienes-somos */
@media only screen and (max-width: 75em) {      
    .texto-carrusel {
        font-size: .9rem;
        padding: .8rem;
    }
}
@media only screen and (max-width: 56.25em) {      
    .texto-carrusel {
        font-size: .6rem;
        padding: .6rem;
    }
    .contenedor-tarjeta {
        height: 20rem;
        width: 14rem;
    }
    .tarjeta-delante-qs h3 {
        font-size: 1.2rem;
    }
    .tarjeta-delante-qs p {
        font-size: .9rem;
    }
    .contenedor-tarjeta {
        margin: 3rem;
    }
    .tarjeta-detras-qs .icono-redes {
        width: 1.5rem;
        height: 1rem;
    }
}
@media only screen and (max-width: 43.75em) {      
    .texto-carrusel {
        font-size: .5rem;
        padding: .4rem;
    }
    .contenedor-tarjeta {
        height: 18rem;
        width: 12rem;
    }
    .tarjeta-delante-qs h3 {
        font-size: 1.2rem;
    }
    .tarjeta-delante-qs p {
        font-size: .9rem;
    }
    .contenedor-tarjeta {
        margin: 2rem;
    }
}

/*
********* Miguel RM *********
*/

/*
============================ SECCIÓN CURSOS ============================
*/
/*
#catalogo-cursos img{


    /*border-radius: 90px;

}
/*
#catalogo-cursos{
    display: flex;
    align-itrems: flex-start;
    background: #F6F3EB;
    padding: 1rem;
    border-radius: 3px;
    max-width: 24rem;
    margin: 5rem;
}

#cabecera-cursos{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-style: dashed;
}*/
#catalogo-cursos{
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}

#main-cursos{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/cursos/estudiante-bw.jpg");
        padding: 5rem 0 10rem 0;
        /*background-color: #777880;*/
        background-color: #bdbfcc;
        background-blend-mode: screen;
        display: flex;
        flex-direction: column;
        align-items: center;
    
}
#catalogo-cursos{
    display: flex;
    flex-wrap: wrap;
    /*align-itrems: stretch;*/
    text-align: center;
    justify-content: center;

    /*border-color: red;
    border-style: dashed;*/

}


.curso {
    color:white;
    /*border-color: red;
    border-style: dashed;*/
    text-align: justify;
    display: flex;
    /*align-itrems: center;
    justify-content: center;*/
    background: #254A74;
    padding: 1rem;
    border-radius: 1em;
    width: 30rem;
    height: 10rem;
    margin: 2rem 4rem;

  }

  .curso:hover{
    cursor: pointer;
    background-color: #dff2f5;
    color: black;
    box-shadow: 0px 0px 30px rgb(71, 71, 71);
    transition: all 0.3s;
    transform: scale(1.2);

}
  #catalogo-cursos .imgCurso {
    float:left;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 1rem;
    animation-name: animacionCursos;
    animation-duration: 3s;
    
  }
  
  @keyframes animacionCursos {
    from {opacity: 0;}
    to {opacity: 1;}
}

  .textoCurso{
      padding: 1rem;

  }
  .textoCurso>h3{
      /*      font-weight: bolder;
*/
      text-align: center;


  }

  .textoCurso>h4{
      font-weight: lighter;
  }
#seccion-video-cursos{
    margin: 3rem;
    animation-name: animacionCursos;
    animation-duration: 3s;
}
  #video-cursos{
      width:40rem;
      box-shadow: 0px 0px 30px rgb(41, 41, 41);

  }
  /*
  .botonCurso{

    text-align: center;
    font-family: 'Rockwell', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 15px;
	background: #b0e0e6;
	border: dashed;
	border-color: #1d4d4e;
	border-radius: 10px;
	margin-top: 15px;
	float: center;
  }

  .botonCurso:hover{
        cursor: pointer;
        background-color: #dff2f5;
        box-shadow: 0px 0px 30px rgb(136, 136, 136);
        transition: all 0.3s;

  }
  .titCurso {
    margin: 0 0 .5rem;
  }*/



/**************************** 
      Estilos Formulario
****************************/

#formularioCursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 52, 81);
    margin: 5rem;
    border-radius: 1rem;
    color: #FAFAFA;
    box-shadow: 0px 0px 30px rgb(71, 71, 71);
}

#formularioCursos h3 {
    color: #E77218;
    margin-bottom: 1rem;
    text-align: center;
}

#formularioCursos section {
    margin: 2rem 1rem;
}

#formularioCursos label {

}

#formularioCursos #datos-contacto input, select {
    width: 65%;
    height: 70%;
    margin-top: .3rem;
    padding: .35rem;
    border-radius: .8rem;
    /*border-style: dashed;
    border-color: green;*/
}


#formularioCursos #datos-contacto input:focus, select:focus {
    width: 80%;
}
/*
#formularioCursos #fecha_nacimiento {
    /*padding: .2rem;
}*/

#datos-contacto article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#datos-contacto input:focus {
    outline: none;
    box-shadow: 0px 0px 30px rgb(49, 49, 49);
    /*border-bottom: 3px solid rgba(255,255,255,0.4);*/
}

#datos-contacto input:focus:invalid {
    border-bottom: 3px solid rgb(218, 78, 78);
}

#datos-contacto input:focus:valid {
    border-bottom: 3px solid rgb(78, 218, 113);
}

#datos-contacto .div-contenedor {
    margin: .5rem;
    text-align: center;
    width: 25%;
    border-radius: .8rem;
    /*border-style: dashed;
    border-color: red;
    padding-bottom: 1rem;*/
    
}

#datos-contacto label {
    /*text-align: center;*/
    /*border-radius: 1rem;
    border-style: dashed;
    border-color: green;*/

}
#datos-contacto select {
    padding: .35rem;
    cursor: pointer;
}

#formacion-previa article,
#cursos-interesado article,
#modalidad article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#formacion-previa div,
#cursos-interesado div,
#modalidad div {
    margin: .5rem .8rem;
}

#proteccion-datos a {
    text-decoration: none;
    color: #E77218;
}

#submit-reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#submit-reset input {
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.05rem;
}

#submit-reset input:hover {
    cursor: pointer;
    background-color: #E77218;
    color: #FAFAFA;
}

#formacion-previa input{
    margin: 5px;
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-around ;
	align-items: center ;
	align-content: center ;
	text-align: center;
}
#formularioCursos #cursos-section input, .imgChecked{
    visibility: hidden;
}

/*#cursos-section article {
	overflow-y: scroll;
	max-height: 350px;
	width: 90%;
	margin: auto auto 20px;
	position: relative;
}*/
/*
#cursos-section .divCurso{
    border-style: dashed;
    max-height: 15rem;
    max-width: 25rem;
}*/
#cursos-section .imgCurso, .imgCursoChecked {
    float:center;
    max-width: 80%;
    max-height: 70%;
    border-radius: 1rem;
    animation-name: animacionCursos;
    animation-duration: 3s;
    
  }

  #cursos-section .imgCursoChecked{
    display:none
  }
  #cursos-section .divCurso{
      border-style: dashed;
      border-radius: 1px;
      height: 15rem;
  }
#cursos-section .imgChecked{
    
    width: 3rem;
    padding: 0.3rem;
	border-color: white;
    border-radius: 1rem;
    border-style: solid;
    float: center;
    z-index: 2;
    /*z-index:2;*/
}
#cursos-section section {
    overflow-y: scroll;
    max-height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: dotted;
}
#cursos-section .noSeleccionado, .seleccionado {
    margin: .5rem;
    text-align: center;
    width: 25%;
    border-radius: .8rem;
}

/* Scrollbar && hr */
hr {
	height: 150px;
	width: 2px;
	background-color: black;
	border: none;
}
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 168, 179); 
  }


/*
#formularioCursos #datos-contacto input {
    width: 70%;
}

#formularioCursos #datos-contacto input:focus{
    width: 100%;
}*/